@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

:root {
  font-family: "Rubik", sans-serif, "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0px;
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
  scrollbar-width: none;
}

h1 {
  font-family: "Zen Dots";
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

.no-scroll {
  scrollbar-width: none;
}

.arrow-shape-open {
  clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%);
}

.arrow-shape-close {
  clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%);
}

/* In your global styles (like App.css or index.css) */
.perspective {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

@keyframes noise {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10%, 10%);
  }
  50% {
    transform: translate(10%, -10%);
  }
  75% {
    transform: translate(-5%, 5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-noise {
  animation: noise 3s infinite linear;
}
